* {   
    padding: 0;
    margin: 0;
}
.body {
    font-family: Open Sans, sans-serif regular;
    font-size: 1rem;
    background-color: #fff;
    line-height: 5%;
}
.box {
    background-image: url(../assets/img/bg.png);
    width: 100%;
}
.headerLogo {
    display: flex;
    padding: 1.3% 6%;
}
.headerLogo__menu {
    margin-left: 80%;
}
.agency {
    text-align: center;

}
.agency__name {
    text-transform: uppercase;
    font-size: 1rem;
   /* padding: 0.4% 2.5% 0.3% 2.2%;*/
    margin: 4.5% 46% 0% 46%;
    background-image: url(../assets/img/image_fon2.png);
    background-size: 98px 28px;
}
.agency__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    border: #60606d solid 3px;
    margin: 0% 28.6%;
    padding: 0.6% 5.5% 0.6% 6.8%;
}
.agency__text {
    margin: 1% 28.6% 0% 28.6%;
    font-size: 0.77rem;
}
.history {
    display: flex;
    margin: 10.3% 6.3% 2.5% 6.3%;
}
.history__img {
    margin-top: -3.5%;
    margin-right: 9.9%;
    margin-bottom: -3.8%;
}
.history__title {
    width: 42%;

}
.history__title_name {

}
.history__title_text {

}
.history__title_btn {
    background-color: #a5edc7;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 15.8%;
    height: 10%;
    padding: 1% 0.3%;
    margin: 1.6% -6.5% -10% 30%;
    cursor: pointer;
    font-size: 0.6rem;

}
 

.choice {
    text-align: center;
    padding: 10% 22.5%; 
}
.choice__title {
    text-transform: uppercase;
    font-family: Montserrat;
    padding-bottom: 1.5%;
}


.col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50%;
}
.service {
    text-transform: uppercase;
    width: 18%;
    font-size: 0.7rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /*grid-template-areas: */
}
.service__icon {
    margin-bottom: 5%;

}
.service__title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #60606d;
    margin-bottom: 5%;

}
.service__title .serice__title_name {
    color: #b1b1b1;
    font-weight: normal;
    
}
.chooseUs {
    width: 35%;
    height: 50%;
}